:root{
  --col : attr(data-color type(<color>), pink);

}
@property --bg {
  inherits: true;
  syntax: "<color>";
  initial-value: white;
}

@property --bg-dark {
  inherits: true;
  syntax: "<color>";
  initial-value: #333;
}

@property --bg-pink {
  inherits: true;
  syntax: "<color>";
  initial-value: #ffc0cb;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
  background-color: var(--col);
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}
.bg_ctr {
  background-color: var(--bg, red);

  container-name: cardd;
  &:hover {
    --bg: var(--bg-dark);
  }
  &:active {
    --bg: var(--bg-pink);
  }
}
.menuGroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
  cursor: pointer;
}

.menuItem {
  @supports (display: flex) {
    display: flex;
  }
  gap: 1.5em;
  color: #222;

  @container cardd style(--bg: var(--bg-dark)) {
    color: #f0f0f0;
  }
  @container cardd style(--bg: orange) {
    color: red;
  }
  @container cardd style(--bg: var(--bg-pink)) {
    color: green;
  }
}

/* Si le fond du conteneur est sombre (style query sur --bg) */

@container cardd style(--bg: var(--bg-pink)) {
  .menuItem {
    color: yellow; /* texte clair */
    font-weight: bold;
  }
}

.menuItemText {
  flex-grow: 1;
}

.menuItemHeading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menuItemName {
  margin-right: 1.5em;
}

.menuItemDescription {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menuGroup {
    grid-template-columns: repeat(2, 1fr);
  }

  .menuItemImage {
    width: 125px;
    height: 125px;
  }
}

.imageThumbnail {
  inline-size: 4rem;
  block-size: 4rem;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .imageThumbnail {
    inline-size: 7.5rem;
    block-size: 7.5rem;
  }
}